<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE manifest [
        <!ELEMENT manifest (application)*>
        <!ATTLIST manifest
                xmlns:android CDATA #REQUIRED
                package CDATA #REQUIRED
                xmlns:tools CDATA #REQUIRED>
        <!ELEMENT application (activity)*>
        <!ELEMENT activity (intent-filter|meta-data)*>
        <!ATTLIST activity
                android:name CDATA #REQUIRED
                android:theme CDATA #REQUIRED>
        <!ELEMENT intent-filter (action|category)*>
        <!ELEMENT action (#PCDATA)>
        <!ATTLIST action
                android:name CDATA #REQUIRED>
        <!ELEMENT category (#PCDATA)>
        <!ATTLIST category
                android:name CDATA #REQUIRED>
        <!ELEMENT meta-data (#PCDATA)>
        <!ATTLIST meta-data
                android:name CDATA #REQUIRED
                android:value CDATA #REQUIRED>
        ]>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player"
    >
    <application>
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
